storm.local_mode = true
storm.max_task_parallel = 36
storm.max_spout_pending = 300
storm.message_timeout_secs = 90
storm.num_workers = 1
storm.tick_frequency = 100

twitter.consumer.key =
twitter.consumer.secret =
twitter.access.key =
twitter.access.secret =

twitter.query.keywords = usa
twitter.query.language = en
